# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
untitled0.py
untitled1.py
untitled2.py
untitled5.py
untitled3.py
untitled4.py
untitled6.py
main.py
main.py
executeTransferKeypointSegmentation.py
main.py
main.py
main.py


#exclude everything
ABIDEdata/mri/*
ABIDEdata/segmentation/*
ABIDEdata/keypoint/*
Outputs/*

#exception to the rule
!ABIDEdata/mri/.gitkeep
!ABIDEdata/segmentation/.gitkeep
!ABIDEdata/keypoint/.gitkeep
!Outputs/.gitkeep
untitled7.py
untitled8.py
untitled9.py
command.txt
*.npy
untitled10.py
untitled11.py
utilities.py
*.6
bashCommandList
bashCommandList.txt
toDo.txt
Trainingdata2/keypoint/10000005_1_CT.key
Trainingdata2/keypoint/10000006_1_CT.key
Trainingdata2/keypoint/10000011_1_CT.key
Trainingdata2/keypoint/10000014_1_CT.key
Trainingdata2/keypoint/10000015_1_CT_wb.key
Trainingdata2/keypoint/10000016_1_CT_wb.key
Trainingdata2/keypoint/10000017_1_CT_wb.key
Trainingdata2/keypoint/10000018_1_CT_wb.key
Trainingdata2/keypoint/10000020_1_CT_wb.key
Trainingdata2/keypoint/10000021_1_CT_wb.key
Trainingdata2/mri/10000005_1_CT.nii.gz
Trainingdata2/mri/10000006_1_CT.nii.gz
Trainingdata2/mri/10000011_1_CT.nii.gz
Trainingdata2/mri/10000014_1_CT.nii.gz
Trainingdata2/mri/10000015_1_CT_wb.nii.gz
Trainingdata2/mri/10000016_1_CT_wb.nii.gz
Trainingdata2/mri/10000017_1_CT_wb.nii.gz
Trainingdata2/mri/10000018_1_CT_wb.nii.gz
Trainingdata2/mri/10000019_1_CT_wb.nii.gz
Trainingdata2/mri/10000020_1_CT_wb.nii.gz
Trainingdata2/mri/10000021_1_CT_wb.nii.gz
Trainingdata2/segmentation/10000005_1_CT.nii.gz
Trainingdata2/segmentation/10000006_1_CT.nii.gz
Trainingdata2/segmentation/10000011_1_CT.nii.gz
Trainingdata2/segmentation/10000014_1_CT.nii.gz
Trainingdata2/segmentation/10000015_1_CT.nii.gz
Trainingdata2/segmentation/10000016_1_CT.nii.gz
Trainingdata2/segmentation/10000017_1_CT.nii.gz
Trainingdata2/segmentation/10000018_1_CT.nii.gz
Trainingdata2/segmentation/10000019_1_CT.nii.gz
Trainingdata2/segmentation/10000020_1_CT.nii.gz
Trainingdata2/segmentation/10000021_1_CT.nii.gz
untitled13.py
untitled12.py
untitled14.py
untitled15.py
keyCommand
keyCommand.txt
untitled17.py
dataMessing.py
niftyCommands.py
untitled16.py
untitled22.py
untitled21.py
untitled20.py
untitled19.py
untitled18.py
untitled18.py
untitled18.py
asdf.csv
untitled24.py
untitled31.py
untitled32.py
untitled01.py
